@model ebis.Models.kontakty

@{
    ViewBag.Title = "Vymazat kontakt";
}

<h3>Chcete opravdu vymazat kontakt @Model.jmeno @Model.prijmeni?</h3>

@using (Html.BeginForm())
{
    <p>
        @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Danger).Text("Odebrat") |
        @Html.ActionLink("Zpìt na seznam", "Index")
    </p>
}