@model ebis.Models.lokace

@{
    ViewBag.Title = "Odebrat lokaci";
}

<h3>Opravdu chcete odebrat lokaci @Model.jmeno?</h3>

@using (Html.BeginForm()) {
    <p>
        @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Danger).Text("Odebrat") |
        @Html.ActionLink("Zpět na seznam", "Index")
    </p>
}
