@{
    ViewBag.Title = "EBis";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1><br />
                <h2>@ViewBag.Message</h2> <button>@Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
            </hgroup>
        </div>
    </section>
}
<p>
    Vítejte na webu blablabla
</p>
