@{
    ViewBag.Title = "EBis";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1><br />
                @if (User.Identity.IsAuthenticated) 
                {
                    <h2>Vítejte!</h2>
                }
                else
                {
                    <div class="row"><h2 class="col-md-8 noMarNoPad">@ViewBag.Message</h2> @Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "mainLoginLink", @class = "btn btn-default col-md-2" })<div class="col-md-2"></div></div>
                }
            </hgroup>
        </div>
    </section>
}
