
@{
    ViewBag.Title = "Lokace";
    
    WebGrid grid = new WebGrid(ViewBag.locList);
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="content">
    @grid.GetHtml(columns: new[] {
        grid.Column("jmeno"),
        grid.Column("adresa"),
        grid.Column("gps"),
        grid.Column("link")
    })
</div>