@model IEnumerable<ebis.Models.smlouvy>

@{
    ViewBag.Title = "Smlouvy";
    WebGrid grid = new WebGrid(Model);
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Přidat novou smlouvu", "Create")
</p>
@grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    grid.Columns
    (
        grid.Column("id", "ID smlouvy"),
        grid.Column("","Osoba", format: (item) => new HtmlString(item.osoby.jmeno +" "+item.osoby.prijmeni)),
        /*grid.Column("spolecnost", "Společnost"),
        grid.Column("ic", "IČ"),
        grid.Column("sidlo", "Sídlo"),
        grid.Column("zastoupeni", "Zastoupení"),
        grid.Column("jmeno", "Jméno"),
        grid.Column("bytem", "Bytem"),
        grid.Column("telefon", "Telefon"),
        grid.Column("email", "E-mail"),
        grid.Column("cislo_uctu", "Číslo účtu"),
        grid.Column("datum_narozeni", "Datum narození"),
        grid.Column("datum_spolecnost", "Datum společnost"),
        grid.Column("datum_osoba", "Datum osoba"),
        grid.Column("osoby.jmenoPrijmeniId", "Osoba"),
        grid.Column("text_smlouvy.text1", "Text smlouvy"),*/
        grid.Column(format: (item) => new HtmlString("" + /*Html.ActionLink("  ", "Details", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-search", @title = "Detaily" }) +*/
                                                    Html.ActionLink(" ", "Edit", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-edit", @title = "Upravit" }) + " " +
                                                    Html.ActionLink(" ", "Delete", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-trash", @title = "Vymazat" })))
        ))
