@model ebis.Models.produkcni_listy

@{
    ViewBag.Title = "Odebrat produkční listy";
}

<h3>Opravdu chcete odebrat produkční listy @Model.jmeno_aktivity?</h3>

@using (Html.BeginForm()) {
    <p>
        @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Danger).Text("Odebrat") |
        @Html.ActionLink("Zpět na seznam", "Index")
    </p>
    
}
