@model ebis.Models.produkcni_listy

@{
    ViewBag.Title = "Detaily produkčních listů";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>produkcni_listy</legend>

    <div class="display-label">
         Jméno aktivity
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno_aktivity)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Upravit produkční listy", "Edit", new { id=Model.pk_id }) |
    @Html.ActionLink("Zpět na seznam", "Index")
</p>
