@model IEnumerable<ebis.Models.produkcni_listy>

@{
    ViewBag.Title = "Produkční list - položky";
    WebGrid grid = new WebGrid(Model);
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Přidat položku produkčního listu", "Create")
</p>

@grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    grid.Columns
    (
        grid.Column("jmeno_aktivity", "Název aktivity"),
        grid.Column(format: (item) => new HtmlString("" + Html.ActionLink("  ", "Details", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-search", @title = "Detaily" }) +
                                                    Html.ActionLink("  ", "Edit", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-edit", @title = "Upravit" }) +
                                                    Html.ActionLink("  ", "Delete", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-trash", @title = "Vymazat" })))
    ))
