@model ebis.Models.nastroje

@{
    ViewBag.Title = "Odebrat nástroj";
}

<h2>@ViewBag.Title</h2>

<h3>Opravdu chcete odebrat tento nástroj?</h3>
<fieldset>
    <legend>nastroje</legend>

    <div class="display-label">
         Název
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         Typ
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.typ)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Odebrat" /> |
        @Html.ActionLink("Zpět na seznam", "Index")
    </p>
}
