@model ebis.Models.titul

@{
    ViewBag.Title = "Vymazat název akce";
}

<h3>Opravdu chcete vymazat název akce @Model.nazev?</h3>

@using (Html.BeginForm()) {
    <p>
        @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Danger).Text("Odebrat") |
        @Html.ActionLink("Zpět na seznam", "Index")
    </p>
}
