@model ebis.Models.osoby

@{
    ViewBag.Title = "Odebrat osoby";
}


<h3>Opravdu chcete odebrat tuto umělce @Model.jmeno @Model.prijmeni?</h3>

@using (Html.BeginForm()) {
    <p>
        <button class="btn btn-danger" type="submit">Odebrat</button> |
        @Html.ActionLink("Zpět na seznam", "Index")
    </p>
}
