@*model IEnumerable<ebis.Models.osoby>*@
@using ebis.Helpers
@{
    ViewBag.Title = "Umělci";
    //WebGrid grid = new WebGrid(Model,canPage:false,ajaxUpdateContainerId: "gridContent");
    //var grid = new WebGrid(Model, canPage: false);
    
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Přidat nového umělce", "Create")
</p>

<div id="insertRow" class="row">
    <input type='text' id='inJmeno' placeholder="Jméno" value='' />
    <input type='text' id='inPrijmeni' placeholder="Příjmení" value=''/>
    <input type='text' id='inEmail' placeholder="E-mail" value='' />
    <!--<input type='text' id='inNastroje' value='' class = 'edit'/>-->
    <a href='#' id="quickInsertBtn" class='btn btn-default'>Vložit</a>
    </div>

<script type="text/javascript" >
    $(function () {

        //var target = document.getElementById('partialDiv')
        //var spinner = new Spinner(opts).spin(target);
        var partialDiv = $("#partialDiv");
        //$.get("Url.Action("GridPartial", "Interpret")", function (data) { $('#partialDiv').replaceWith(data); });


        reloadGrid();
    });

    function reloadGrid() {
        var target = document.getElementById('partialDiv')
        var spinner = new Spinner(opts).spin(target);

        $.ajax({
             url: "@(Url.Action("GridPartial", "Interpret"))",
             type: 'GET',
             cache: false,
             async: true,
             success: function(result){
                $("#partialDiv").html(result);
             }
         });
 
    }
  </script>



<div id="partialDiv" data-url="@Url.Action("GridPartial", "Interpret")"></div>

