@model IEnumerable<ebis.Models.osoby>
@using ebis.Helpers
@{
    ViewBag.Title = "Umělci";
    WebGrid grid = new WebGrid(Model,canPage:false);
    
}


<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Přidat nového umělce", "Create")
</p>

@grid.GetHtml(
    tableStyle: "table table-striped table-hover interpret-rows",
    columns: grid.Columns
    (
        grid.Column("id", "ID"),
        grid.Column("jmeno", "Jméno   " + Html.SortDirection(ref grid, "jmeno")),
        grid.Column("prijmeni", "Příjmení"),
        @*grid.Column("telefon", "Telefon"),*@
        grid.Column("email", "E-mail"),
        grid.Column("narodnost", "Nástroje", @<div>@Html.GetNastroje((IEnumerable<ebis.Models.nastroje>)@item.nastroje)</div>),
        grid.Column(format: (item) => Html.ActionLink("Smlouvy", "Index", "Contract", new RouteValueDictionary(new { id = item.pk_id }), null)),
        grid.Column(format: (item) => new HtmlString("" + Html.ActionLink("  ", "Details", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-search", @title = "Detaily" }) +
        Html.ActionLink("  ", "Edit", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-edit", @title = "Upravit" }) +
        Html.ActionLink("  ", "Delete", new { id = item.pk_id }, new { @class = "glyphicon glyphicon-trash", @title = "Vymazat" })))
    ))