@model ebis.Models.akce

@{
    ViewBag.Title = "Vymazat";
}

<h3>Opravdu chcete vymazat akci se názvem @Model.titul.nazev?</h3>

@using (Html.BeginForm()) {
    <p>
        <Button class="btn btn-danger" type="submit">Vymazat</Button> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
